<div class="container-fluid">
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-3">
            <div class="card">
                <img src="https://cdn-thumbs.imagevenue.com/31/01/20/ME14S9UY_t.png" width="120" height="120"/>
            </div>
            </div>

            <div class="col-lg-9">
            <div class="card">
                <img src="https://cdn-thumbs.imagevenue.com/31/01/20/ME14S9UY_t.png" width="800" height="120">
            </div>
            </div>
        </div>

    </div>

</div>