<div class="container-fluid">
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-2">
                <div class="card mt-3" style="width: 18rem;">
                <img src="https://cdn-thumbs.imagevenue.com/{{imglink}}" class="card-img-top" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">San Pham</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row ml-2">
                    <div class="col-sm-2 mr-5">
                        <div class="card mt-3" style="width: 18rem;">
                        <img src="https://cdn-thumbs.imagevenue.com/{{imglink}}" class="card-img-top" width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">San Pham</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
    </div>
</div>
